.carregando-7,
.header-1 {
  background: #2A569C;
}

.carregando-6,
.header-2 {
  background: #2989C4;
}

.carregando-5,
.header-3 {
  background: #76BCE2;
}

.carregando-4,
.header-4 {
  background: #6DBFA9;
}

.carregando-3,
.header-5 {
  background: #4AB387;
}

.carregando-2,
.header-6 {
  background: #79B833;
}

.carregando-1,
.header-7 {
  background: #D3D922;
}

.carregando-8,
.header-8 {
  background: #F1E52A;
}



/* Cores */
.box1-1 {
  background: #382275;
  color: #D5FA95;
}

.box1-2 {
  background: #fffaaa;
  color: #382275;
}

.box1-3 {
  background: #8FAC5B;
  color: #DFE9DB;
}

.box1-4 {
  background: #07DB87;
  color: #2C1559;
}

.box1-5 {
  background: #78424D;
  color: #caa3aa;
}

.box1-6 {
  background: #a3a939;
  color: yellow;
}


.box2-1 {
  background: #152278;
  color: #F74939;
}

.box2-2 {
  background: #93FAF0;
  color: #a42121;
}

.box2-3 {
  background: #DEE0D6;
  color: #A7258B;
}

.box2-4 {
  background: #83F3F5;
  color: #015DBF;
}

.box2-5 {
  background: #D5FA95;
  color: #382275;
}

.box2-6 {
  background: #88F8D1;
  color: #DE2B2E;
}


.box3-1 {
  background: #2049DF;
  color: #cbcbcb;
}

.box3-2 {
  background: #F6E0D1;
  color: #222222;
}

.box3-3 {
  background: #5CE8DE;
  color: #1F1467;
}

.box3-4 {
  background: #081563;
  color: #9BA46D;
}

.box3-5 {
  background: #96E0E0;
  color: orangered;
}

.box3-5 {
  background: #96E0E0;
  color: #4B1DBD;
}

.box3-6 {
  background: yellow;
  color: #081563;
}



.box4-1 {
  background: #F1D3C1;
  color: #061F9D;
}

.box4-2 {
  background: #01B6CA;
  color: #F9E5C6;
}

.box4-3 {
  background: #6A4145;
  color: #FAD7CD;
}

.box4-4 {
  background: #3FFC9E;
  color: #271A51;
}

.box4-5 {
  background: #86195C;
  color: #DEE0D6;
}

.box4-6 {
  background: #DEE0D6;
  color: #A619FF;
}
