@import url('reset.css');
@import url("animate.css");
@import url("cores.css");
@import url("font-awesome.css");

/***********/
.master {
  display: none;
}

body#master .master {
  display: block!important;
}

.overflow {
  overflow: hidden;
}

.opacity {
  opacity: .5;
}

.borda-vermelha {
  border: 1px solid red!important;
}

.left {
  float: left;
  position: relative;
  box-sizing: border-box;
}

.right {
  float: right;
  position: relative;
  box-sizing: border-box;
}

.site {
  display: none;
}

.carregando {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9998;
}

.ico-carregando {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  z-index: 9999;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}


.ml50 {
  margin-left: 50px;
}

.mr50 {
  margin-right: 50px;
}

.ml40 {
  margin-left: 40px;
}

.mr40 {
  margin-right: 40px;
}

.ml30 {
  margin-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.ml5 {
  margin-left: 5px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.mr15 {
  margin-right: 15px;
}


.wd10 {
  width: 10px;
}

.wd20 {
  width: 20px;
}

.wd30 {
  width: 30px;
}

.wd40 {
  width: 40px;
}

.wd50 {
  width: 50px;
}

.wd60 {
  width: 60px;
}

.wd70 {
  width: 70px;
}

.wd80 {
  width: 80px;
}

.wd90 {
  width: 90px;
}

.wd100 {
  width: 100px;
}

.wd110 {
  width: 110px;
}

.wd120 {
  width: 120px;
}

.wd150 {
  width: 150px;
}

.wd200 {
  width: 200px;
}

.wd230 {
  width: 230px;
}

.wd250 {
  width: 250px;
}

.wd300 {
  width: 300px;
}

.wd350 {
  width: 350px;
}

.wd400 {
  width: 400px;
}

.wd450 {
  width: 450px;
}

.wd500 {
  width: 500px;
}

.wd550 {
  width: 550px;
}

.wd600 {
  width: 600px;
}

.wd650 {
  width: 650px;
}

.wd700 {
  width: 700px;
}

.wd750 {
  width: 750px;
}

.wd800 {
  width: 800px;
}

.wd850 {
  width: 850px;
}

.wd900 {
  width: 900px;
}

.wd950 {
  width: 950px;
}

.wd1000 {
  width: 1000px;
}

.wd100per {
  width: 100;
}

.wd95per {
  width: 95%;
}

.wd90per {
  width: 90%;
}

.wd85per {
  width: 85%;
}

.wd80per {
  width: 80%;
}

.wd75per {
  width: 75%;
}

.wd70per {
  width: 70%;
}

.wd60per {
  width: 60%;
}

.wd50per {
  width: 50%;
}

.wd40per {
  width: 40%;
}

.wd30per {
  width: 30%;
}

.wd20per {
  width: 20%;
}

.wd10per {
  width: 10%;
}

.full {
  width: 100%!important;
}

.row {
  float: left;
  width: 100%;
  position: relative;
}

.line {
  float: left;
  position: relative;
}

/********/
.main-header {
	float: left;
	position: relative;
	width: 100%;
	height: 80px;
	text-align: center;
}

.main-header-content {
	height: 60px;
	margin: 10px 0;
	float: left;
	width: 100%;
  position: relative;
  padding: 0 20px;
}

.logo-header {
	float: left;
	width: 160px;
	margin-top: 7px;
  opacity: .8;
}

.logo-daily-news {
	float: right;
	width: 160px;
	margin-top: 7px;
  opacity: .8;
}

.nome-operacao-header {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 17px;
  float: left;
  height: 60px;
  line-height: 60px;
  margin-right: 30px;
  text-transform: uppercase;
}


/* Modal */
.btn-close-modal {
  float: right;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 2px;
  transition: all .2s ease;
  width: 25px;
  height: 25px;
  line-height: 15px;
  text-align: center;
  margin: 12px 12px 0 0;
  font-size:  20px;
}

.btn-close-modal:hover {
  color: rgba(255, 255, 255, 1);
}

.mask-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(20, 30, 80, 0.7) url(../img/bg-modal.png) repeat top left;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.conteiner-modal {
  position: absolute;
  z-index: 100;
  width: 700px;
  min-height: 140px;
  box-sizing: border-box;
  background: white;
  margin-top: 100px;
  margin-left: -350px;
  left: 50%;
}

.conteiner-modal .modal-title {
  float: left;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  text-indent: 20px;
  line-height: 50px;
  background: navy;
}

.content-modal {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.aba-formulario {
  display: none;
}

.novo-post-passo-1 {
  display: block;
}

.mensagem-result-inclui-usuario,
.mensagem-result-inclui-gestor,
.mensagem-result-inclui-operacao,
.mensagem-result-inclui-post {
  display: none;
}

.mensagem-result-inclui-post-sucesso {

}

.mensagem-result-inclui-post-erro {

}

/* Botoes */
a.btn {
  line-height: 50px;
}

.btn {
  outline: none;
  text-decoration: none;
  padding: 0 20px 0 20px;
  height: 50px;
  line-height: 45px;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: none;
  transition: all .2s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-ok {
  background: #26cc47;
}

.btn-ok:hover {
  border: 1px solid #26cc47;
  color: #26cc47;
  background: white;
}

.btn-error {
  background: orangered;
}

.btn-error:hover {
  border: 1px solid orangered;
  color: orangered;
  background: white;
}

.btn-warning {
  background: orangered;
}

.btn-warning:hover {
  border: 1px solid orangered;
  color: orangered;
  background: white;
}

.btn-alert {
  background: #f4e541;
}

.btn-alert:hover {
  border: 1px solid #f4e541;
  color: #f4e541;
  background: white;
}

.btn-edit {
  background: #08a8e2;
}

.btn-edit:hover {
  border: 1px solid #08a8e2;
  color: #08a8e2;
  background: white;
}

.btn-green-ok,
.btn-add {
  background: #26cc47;
}

.btn-green-ok:hover,
.btn-add:hover {
  border: 1px solid #26cc47;
  color: #26cc47;
  background: white;
}

.btn .fa {
  margin-right: 5px;
}

.nome-gestor,
.nome-operacao,
.nome-usuario,
.nome-post {
  float: left;
  cursor: pointer
}

.container-btn-tip {
  float: left;
  position: relative;
  z-index: 19;
}

#tip-lista-gestores {
  z-index: 0!important;
}

#tip-lista-gestores .bubble-tip {
  width: 200px;
}

#tip-lista-altera-tipo-usuario {

}

#tip-lista-altera-tipo-usuario .bubble-tip {
  width: 200px;
}

#tip-lista-altera-nome-usuario {

}

#tip-lista-altera-nome-usuario .bubble-tip {
  width: 200px;
}

#tip-altera-campos {
  margin: 10px 0 -8px 0;
}

#tip-altera-campos .bubble-tip {
  width: 200px;
}

#tip-altera-post {
  margin: 0 0 0 0;
}

#tip-altera-post .bubble-tip {
  width: 220px;
}

.btn-tip {
  cursor: pointer;
  transition: all .2s ease;
  position: absolute;
}

.btn-tip-usuario {
  margin-top: 31px;
  font-size: 20px;
  color: orangered;
}

.btn-tip-lista-altera-tipo-usuario,
.btn-tip-lista-altera-nome-usuario,
.btn-tip-lista-gestores {
  font-size: 15px;
  color: orange;
  margin-top: -3px;
}

.btn-tip-usuario:hover {
  transform: scale(1.2);
}

#tip-lista-altera-tipo-usuario .bubble-tip {
  margin-left: 70px;
}

.bubble-tip {
  display: none;
  padding: 12px 12px 12px 10px;
  position: absolute;
  margin: -20px 0 0px 35px;
  border-radius: 5px;
  border: 1px solid #4ccddb;
  background: #ddfffb;
  transition: all .2s ease;
}

.bubble-tip-text {
  color: #04a7e2;
  font-size: 12px;
  line-height: 1.2;
  word-wrap: break-word;
  text-align: left;
}

.bubble-tip-icon {
  float: left;
  width: 22px;
  height: 22px;
  line-height: 23px;
  font-size: 14px;
  text-align: center;
  color: #4ccddb;
  margin: 2px 12px 0 5px;
  background: white;
  border-radius: 500px;
}

#tip-usuario .bubble-tip {
  width: 255px;
  margin: 15px 0 0 40px;
}

.container-btn-tip:hover .bubble-tip {
  display: block;
}

/* selecionar posicionamento da postagem na tela  */
.container-selec-box-noticia {
  float: left;
  width: 310px;
  height: 180px;
}

/* Box noticias */
.container-selec-box-noticia span.numero-box {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 500px;
  position: relative;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.col-box-pos-right {
  float: right;
  width: 40%;
}

.box-pos-1 {
  float: left;
  width: 60%;
  height: 180px;
  z-index: 1;
}

.box-pos-2,
.box-pos-3,
.box-pos-4 {
  float: left;
  width: 100%;
  height: 60px;
}

.box-pos-1 span.numero-box {
  margin-top: 55px;
  display: block;
  width: 70px;
  height: 70px;
  font-size: 35px;
  line-height: 50px;
  padding: 10px;
}

.box-pos-2 span.numero-box,
.box-pos-3 span.numero-box,
.box-pos-4 span.numero-box {
  margin-top: 10px;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 20px;
}

.box-pos-2 .box-pos-check,
.box-pos-3 .box-pos-check,
.box-pos-4 .box-pos-check  {
  font-size: 25px;
}

.box-pos-1  .box-pos-check {
  font-size: 35px;
}

.box-pos-check {
  position: absolute;
  top: 8%;
  right: 8%;
  font-size: 35px;
  color: green;
  z-index: 10;
  display: none;
}


.box-pos-1 {
  background: #7c68ff;
  z-index: 2;
}

.box-pos-2 {
  background: #20ff93;
  z-index: 2;
}

.box-pos-3 {
  background: orange;
  z-index: 3;
}

.box-pos-4 {
  background: #f271af;
  z-index: 4;
}

.box-pos {
  position: relative;
  transition: all .2s ease;
  opacity: .5;
  text-align: center;
  cursor: pointer;
}

.box-pos-ativo,
.box-pos:hover {
  transition: all .2s ease;
  opacity: 1;
}

.header-box-noticia {
  float: left;
  width: 100%;
  height: 20px;
  position: relative;
  background: #ddd;
  border-bottom: 1px solid #eee;
  border-radius: 5px 5px 0 0;
}

.header-box-noticia span {
  float: right;
  margin: 5px 5px 0 0;
  width: 10px;
  height: 10px;
  border-radius: 100px;
}

.bullet-red {
  background: red;
}

.bullet-yellow {
  background: yellow;
}

.bullet-green {
  background: green;
}


/* Inputs */
.loader-input {
  font-size: 20px;
  color: gray;
  background: white;
  text-align: center;
  box-sizing: border-box;
  display: none;
  z-index: 9;
  position: relative;
}

.loader-ok {
  font-size: 20px;
  color: green;
  background: white;
  text-align: center;
  box-sizing: border-box;
  display: none;
  z-index: 10;
  position: relative;
}

.loader-input .fa {
  -webkit-animation: loader-input 5s infinite; /* Safari 4+ */
  -moz-animation:    loader-input 5s infinite; /* Fx 5+ */
  -o-animation:      loader-input 5s infinite; /* Opera 12+ */
  animation:         loader-input 5s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes loader-input {
  0%   { transform: rotate(0deg); transform-origin: center center; }
  100% { transform: rotate(360deg); transform-origin: center center; }
}
@-moz-keyframes loader-input {
  0%   { transform: rotate(0deg); transform-origin: center center; }
  100% { transform: rotate(360deg); transform-origin: center center; }
}
@-o-keyframes loader-input {
  0%   { transform: rotate(0deg); transform-origin: center center; }
  100% { transform: rotate(360deg); transform-origin: center center; }
}
@keyframes loader-input {
  0%   { transform: rotate(0deg); transform-origin: center center; }
  100% { transform: rotate(360deg); transform-origin: center center; }
}

.input-altera-nome-usuario {
  margin: 5px 0 -5px 0;
  width: 120px;
}

.input-altera-nome-operacao,
.input-altera-nome-gestor,
.input-altera-email-gestor {
  margin: 5px 0 -5px 0;
  width: 120px;
}

.half-col-inp {
  width: 310px;
  position: relative;
}

.input-table-ajax {
  position: relative;
  text-align: left;
  color: #08a8e2;
  box-sizing: border-box;
  border: none;
  font-size: 13px;
  cursor: pointer;
  background: white;
  width: 100%;
}

.inp {
  float: left;
  width: 100%;
  height: 50px;
  line-height: 30px;
  padding: 10px;
  position: relative;
  text-align: left;
  color: #007fa2;
  font-size: 16px;
  letter-spacing: -1px;
  box-sizing: border-box;
  border: 1px solid #007fa2;
}

.textarea {
  float: left;
  width: 100%;
  line-height: 1;
  padding: 10px;
  position: relative;
  text-align: left;
  color: #007fa2;
  font-size: 16px;
  letter-spacing: -1px;
  box-sizing: border-box;
  border: 1px solid #007fa2;
  resize: none;
}

.textarea-texto-post {
  height: 120px;
}


::-webkit-input-placeholder {
	color: rgba(0, 127, 162, 0.3);
}

::-moz-placeholder {
	color: rgba(0, 127, 162, 0.3);
}

:-ms-input-placeholder {
	color: rgba(0, 127, 162, 0.3);
}

:-moz-placeholder {
	color: rgba(0, 127, 162, 0.3);
}


*:focus {
    outline: none;
}

.line-input {
  float: left;
  width: 100%;
  position: relative;
}

.select-1 {
  width:310px;
}

.select-full {
  width: 100%;
}

label {
  float: left;
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 11px;
  color: #181059;
  margin-bottom: 5px;
  text-align: left;
}

.label-no-float {
  position: relative;
  text-align: left;
  font-size: 11px;
  color: gray;
  text-align: left;
}

.count-chars-textarea {
  float: right;
  position: relative;
  text-align: left;
  font-size: 10px;
  color: gray;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 15px;
}

.chars-count-red {
  color: red;
  font-weight: bold;
}

.post-status {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#form-inclui-operacao,
#form-inclui-gestor,
#form-inclui-usuario {
  display: block;
}

.box-img-edit-post {
  position: absolute;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  left: 150px;
  top: 10px;
}

.box-img-edit-post p {
  position: relative;
  float: left;
  width: 100px;
  height: 60px;
}

.box-img-edit-post p img {
  position: relative;
  float: left;
  width: 100px;
}

.btn-exclui-img-post {
  transition: all .2s ease;
  float: left;
  position: relative;
  margin: 10px 0 0 10px;
  font-size: 20px;
  color: red;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
}

.btn-exclui-img-post:hover {
  transform: scale(1.2);
}


/* botao de */
.btn-exclui-inline {
  border: none;
  background: transparent;
  font-size: 20px;
  color: red;
  transition: all .2s ease;
  cursor: pointer;
}

.btn-exclui-inline:hover {
  transform: scale(1.2);
}


/* Select */
.container-select-lista-operacoes {
  float: left;
  position: relative;
  width: 100%;
}

.container-simple-select {
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 11;
  box-sizing: border-box;
  clear: both;
}

.trigger-simple-select {
  cursor: pointer;
  float: left;
  width: 100%;
  height: 50px;
  line-height: 30px;
  padding: 10px;
  position: relative;
  text-align: left;
  color: rgba(0, 127, 162, 0.3);
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #007fa2;
}

.trigger-simple-select .fa,
.trigger-simple-select-active {
  color: rgba(0, 127, 162, 1);
}

.simple-select {
  display: none;
  position: absolute;
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  background: white;
  box-sizing: border-box;
  margin-top: -1px;
  z-index: 10;
  border-top: none;
  border-bottom: 1px solid #007fa2;
  border-right: 1px solid #007fa2;
  border-left: 1px solid #007fa2;
}

.simple-select li {
  text-align: left;
  color: #007fa2;
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 50px;
  line-height: 30px;
  padding: 10px;
  position: relative;
  transition: all .2s ease;
  cursor: pointer;
}

.simple-select li:hover,
.selected {
  background: #007fa2;
  font-size: 18px;
  text-indent: 3px;
  color: white!important;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 127, 162, 1);
}

.trigger-simple-select .fa {
  float: right;
  margin: 7px;
}

.content-blocked {
  position: relative;
}

.mask-block {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9;
}

.mask-modal-inclui-usuario .mask-block {
  z-index: 12!important;
}

.label-usuario-gestor {
  font-size: 13px;
  color: gray;
  margin: 15px 0 10px 0;
}

.trigger-remove-mask-block {
  color: navy;
  padding: 0 0 3px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  cursor: pointer;
  transition: all .2s ease;
  box-sizing: border-box;
}

.trigger-remove-mask-block:hover {
  padding: 0 0 2px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

b, strong {
  font-weight: bold;
}

/* Tabelas */
.tabela-posts thead tr {
  background-color: #ba5da1;
  border-bottom: 2px solid #843e71;
}

.tabela-gestores thead tr {
  background-color: #ba5da1;
  border-bottom: 2px solid #843e71;
}

.table-admin {
  float: left;
  position: relative;
  width: 100%;
}

.table-admin thead,
.table-admin tbody {
  width: 100%;
}

.table-admin thead {
  border: 1px solid #ba5da1;
  font-size: 13px;
  font-weight: bold;
}

.table-admin tbody {
  font-size: 12px;
}


.table-admin tbody tr {
    border-bottom: 1px solid #eae1e6;
}

.table-admin tbody tr:nth-child(even) {
    background: #fffcfe;
}

.table-admin thead tr {
  box-sizing: border-box;
  padding: 15px 8px 15px 8px;
  color: white;
  margin-bottom: 5px;
}

.table-admin thead th {
  font-size: 13px;
  font-weight: bold;
}

.table-admin th,
.table-admin td {
  box-sizing: border-box;
  padding: 12px 5px 12px 10px;
  text-align: left;
}

.table-admin th a,
.table-admin td a {
  color: #08a8e2;
  transition: all .2s ease;
  text-decoration: underline;
}

.table-admin td {
  color: gray;
}

.table-admin th a:hover,
.table-admin td a:hover {
  text-decoration: none;
}

.td-nome-gestor {
  max-width: 250px;
}

.td-tipo-usuario {
  text-indent: 5px;
}

.td-tipo-usuario,
.td-post-status {
  text-transform: capitalize;
}

.ativo {
  color: green!important;
}

.pendente {
  color: #ff9666!important;
}

.inativo {
  color: gray!important;
}

.bloqueado {
  color: red!important;
}

.ativo .bullet-status-post {
  background: green;
}

.pendente .bullet-status-post {
  background: #ff9666;
}

.inativo .bullet-status-post {
  background: gray;
}

.bloqueado .bullet-status-post {
  background: red;
}

.bullet-status-post {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  float: left;
  position: relative;
  margin-right: 5px;
}

.container-exibe-content-admin {
  width: 100%;
  float: left;
  position: relative;
}

.overflow-title-post-table,
.btn-trigger-title-post-table {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width: 110px;
  cursor: pointer;
}

/* Modal Novo Posts */
.btn-steps-modal {

}

/* alert */
.warning-msg {
  float: left;
  width: 100%;
  margin: 20px 0 20px 0;
  background: orange;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.warning-msg .fa {
  font-size: 20px;
}

/* LOGIN */
.btn-ver-senha-login i.fa {
    font-size: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.btn-ver-senha-login i.fa.olho-senha {
  color: rgba(255, 255, 255, 0.5);
}

.btn-ver-senha-login i.fa.olho-senha-selec {
    color: rgba(255, 255, 255, 1);
    display: none;
}

.btn-ver-senha-login {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    right: 15px;
    bottom: 17px;
    position: absolute;
}

.ct-form-login-altera-senha {
  display: none;
}
.container-login {
  margin: 100px auto;
  position: relative;
  width: 300px;
}

.logo-login {
  float: left;
  position: relative;
  width: 60%;
  margin: 0 20% 30px 20%;
}

.label-login {
  color: white;
  text-align: left;
  margin-bottom: 5px;
  font-size: 11px;
  float: left;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.input-login {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  line-height: 55px;
  letter-spacing: -1px;
}

.btn-login {
  float: left;
  width: 100%;
  height: 60px;
  line-height: 50px;
  color: #4AB387;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border: 3px solid white;
  background: white;
  cursor: pointer;
  transition: all .2s ease;
}

.btn-login:hover {
  color: white;
  text-align: center;
  border: 3px solid white;
  background: transparent;
}

.container-mensagem-login {
  float: left;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.logout-msg {
  text-align: center;
  width: 100%;
  float: left;
  font-size: 20px;
  margin: 20px 0;
  color: white;
  line-height: 1.1;
}

.logout-msg a {
  color: white;
}

.logout-msg .fa {
  margin-top: 30px;
  font-size: 55px;
}

.txt-red {
  color: red;
}

body.tipo-usuario-3 .only-admin,
body.tipo-usuario-2 .only-admin {
  display: none!important;
}
body.tipo-usuario-3 .only-moderator {
  display: none!important;
}


.operacoes-selecionadas-post {
  display: none;
  padding: 20px 0 20px 0;
}

.tag-operacao {
 float: left;
 padding: 0 20px;
 background: green;
 color: white;
 box-sizing: border-box;
 border-radius: 100px;
 margin-right: 10px;
 text-align: center;
 font-size: 11px;
 font-weight: bold;
 text-transform: uppercase;
 transition: all .2s ease;
 cursor: pointer;
}

.tag-operacao:hover {
  transform: scale(1.1);
}

.tag-operacao span {
 float: left;
 position: relative;
 height: 35px;
 line-height: 35px;
}

.tag-operacao .fa {
  opacity: .8;
  font-size: 20px;
  margin: 7px 0 0 6px;
  float: left;
  position: relative;
}

.icon-msg-gestor,
.icon-msg-usuario,
.icon-msg-operacao,
.icon-msg-post {
  float: left;
  position: relative;
  font-size: 50px;
  text-align: center;
}

.msg-inclui-gestor,
.msg-inclui-usuario,
.msg-inclui-operacao,
.msg-inclui-post,
.msg-edita-gestor,
.msg-edita-usuario,
.msg-edita-operacao,
.msg-edita-post {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: gray;
}

.ct-msg-icon-inclui-usuario,
.ct-msg-icon-inclui-gestor,
.ct-msg-icon-inclui-operacao,
.ct-msg-icon-inclui-post,
.ct-msg-icon-edita-usuario,
.ct-msg-icon-edita-gestor,
.ct-msg-icon-edita-operacao,
.ct-msg-icon-edita-post {
  width: 10%;
}

.ct-msg-txt-inclui-usuario,
.ct-msg-txt-inclui-gestor,
.ct-msg-txt-inclui-operacao,
.ct-msg-txt-inclui-post,
.ct-msg-txt-edita-usuario,
.ct-msg-txt-edita-gestor,
.ct-msg-txt-edita-operacao,
.ct-msg-txt-edita-post {
  width: 80%;
  text-align: left;
  margin-top: 16px;
}

.icon-publicando {
  color: teal;
}

.icon-publicado {
  color: green;
}

.icon-erro {
  color: orangered;
}

.excluir-msg-certeza {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}


.btn-trigger-altera-tipo-usuario,
.btn-trigger-altera-status-usuario {
  cursor: pointer;
  transition: all .2s ease;
  text-transform: capitalize;
}

.btn-trigger-altera-tipo-usuario:hover,
.btn-trigger-altera-status-usuario:hover {
  font-weight: bold;
}

.container-lista-altera-status-usuario,
.container-lista-altera-tipo-usuario {
  list-style: none;
  position: absolute;
  margin-top: 8px;
  padding-top: 3px;
  width: 100%;
  max-width: 65px;
  display: none;
  background: white;
  z-index: 9;
  border-top: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.novo-tipo-usuario-selec,
.novo-status-usuario-selec,
.container-lista-altera-status-usuario li,
.container-lista-altera-tipo-usuario li {
  list-style: none;
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  transition: all .2s ease;
  cursor: pointer;
}

.novo-tipo-usuario-selec:hover,
.novo-status-usuario-selec:hover,
.container-lista-altera-status-usuario li:hover,
.container-lista-altera-tipo-usuario li:hover {
  font-weight: bold;
  color: gray;
  background: #ccc;
}

/********/
@media screen and (max-width: 600px) {
  .container {
    float: none;
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .main-header-content {
    padding: 0 20px 0 20px;
  }

  .logo-operacao {
    float: left;
    width: 40%;
    margin: 20px 30%;
    position: relative;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .logo-operacao {
    float: left;
    width: 30%;
    margin: 20px 40%;
    position: relative;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .logo-operacao {
    float: left;
    width: 20%;
    margin: 20px 40%;
    position: relative;
  }
}


@media screen and (max-width: 800px) {
	.logo-header {
		width: 120px;
		margin-top: 13px;
	}

	.logo-daily-news {
		width: 120px;
		margin-top: 13px;
	}
}

@media screen and (max-width: 1024px) {
  .box-main-news {
    float: left;
    width: 100%;
    height: auto;
    text-align: left;
  }

  .header-content {
    background: white;
  }

  .main-content {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
  }

  .container-box-news {
    float: left;
  }

  .box-news {
    float: left;
    position: relative;
    padding: 20px;
    text-align: left;
    width: 100%;
  }

  .container-img-main-box {
		width: 100%;
		max-height: 334px;
    overflow: hidden;
  }

  .container-info-main-box {
    float: left;
    position: relative;
    padding: 20px;
  }

  .container-img-main-box img {
    width: 100%;
    float: left;
    position: relative;
  }


  .container-info-main-box h5 {
    float: left;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
  }

  .container-info-main-box .box-news-post-date {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 13px;
    position: relative;
    font-weight: bold;
    margin: 20px 0 0 0;
}

  .container-info-main-box  .box-news-post-desc {
    float: left;
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.1;
  }

  .box-news h6 {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }

  .box-news .box-news-post-date {
    float: right;
    width: 100%;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    margin-top: 20px;
  }

  .box-news .box-news-post-desc {
    float: left;
    width: 100%;
    margin-top: 5px;
    font-size: 13px;
  }

  .box-txt-noticias-anteriores-mobile {
    float: left;
    position: relative;
    width: 100%;
    padding: 20px 0 10px 0;
    background:black;
    color: orangered;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
  }

  .txt-noticias-anteriores {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
	.container {
    width: 1000px;
    margin: 0 auto;
	}

	.header-content {
    height: 80px;
    background: white;
	}

	.main-content {
		width: 100%;
		height: 500px;
		float: left;
		position: relative;
	}

	.box-main-news {
		float: left;
		width: 700px;
		height: 501px;
		text-align: left;
	}

	.container-box-news {
		float: right;
		width: 300px;
		height: 501px;
		background: #ee4561;
	}

	.box-news {
		float: left;
		position: relative;
		padding: 20px;
		width: 100%;
		height: 167px;
		text-align: left;
	}

	.container-logo-operacao {
		margin: 25px 20px;
    float: left;
	}

	.txt-noticias-anteriores {
    float: right;
    width: 300px;
    height: 80px;
    line-height: 80px;
    text-align: right;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: orangered;
    font-size: 14px;
    padding-right: 20px;
	}

	.logo-operacao {
		width: 120px;
    float: left;
	}

	.container-info-main-box {
		padding: 30px;
	}

	.container-img-main-box {
		width: 700px;
		max-height: 334px;
    overflow: hidden;
  }

  .container-img-main-box p,
  .container-img-main-box img {
    width: 100%;
    float: left;
    position: relative;
	}

  .container-info-main-box h5 {
    float: left;
    width: 80%;
    font-size: 25px;
    font-weight: bold;
  }

  .container-info-main-box .box-news-post-date {
    float: right;
    width: 15%;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
  }

  .container-info-main-box  .box-news-post-desc {
    float: left;
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.1;
  }

  .box-news h6 {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }

  .box-news .box-news-post-date {
    float: right;
    width: 100%;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    margin-top: 15px;
  }

  .box-news .box-news-post-date .fa {
    margin-left: 3px;
  }

  .box-news .box-news-post-desc {
    float: left;
    width: 100%;
    margin-top: 5px;
    font-size: 13px;
  }

  .box-txt-noticias-anteriores-mobile {
    display: none;
  }


  .titulo-admin {
    float: left;
    padding-left: 20px;
  }

  .nome-usuario-header {
    float: right;
    padding-right: 20px;
  }

  .titulo-admin,
  .nome-usuario-header {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: orangered;
    font-size: 19px;
    letter-spacing: -1px;
  }

  .container-menu-admin {
    float: left;
    position: relative;
    border: 1px solid #eee;
    border-radius: 3px;
    text-align: left;
    font-size: 13px;
    width: 250px;
    height: 500px;
    color: gray;
    cursor: pointer;
    background: #f9fbff;
  }

  .container-menu-admin nav ul {
    float: left;
    position: relative;
    list-style-type: none;
  }

  .container-menu-admin nav ul li {
    float: left;
    position: relative;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #eee;
    background: white;
  }

  .container-menu-admin nav ul li:hover,
  .menu-admin-active {
    font-weight: bold;
    color: #bf1a57;
  }

  .container-menu-admin nav ul li .fa {
    margin-right: 5px;
  }

  .content-admin {
    float: right;
    position: relative;
    width: 720px;
    margin-bottom: 40px;
  }

  .tit-sec-adm {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 45px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
    text-align: left;
    color: #1cdbbb;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  .main-admin-content {
    display: none;
  }
}


/* s e l e c t */
.select {
  float: left;
  width: 100%;
  position: relative;
  border: 1px solid red;
  border-radius: 5px;
}

.select li {
  float: left;
  width: 100%;
  position: relative;
  background: #cbcbcb;
  text-align: left;
  padding: 5px;
  margin-bottom: 1px;
  border-bottom: 1px solid gray;
}


@media screen and (min-width: 600px) and (max-width: 800px) {

}

@media screen and (min-width: 800px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) and (max-width: 1280px) {

}

@media screen and (min-width: 1280px) and (max-width: 1366px) {

}
